<div style="display:none">
</div><br>
 <!-- action usual -->
 [#if DATA_SOURCE="dev_hvac_devices" || DATA_SOURCE=""#]
 <!-- table dev_hvac_devices search -->
 [#if VIEW_MODE="search_dev_hvac_devices" || VIEW_MODE=""#]
  [#inc dev_hvac_devices_search_admin.html#]
 [#endif VIEW_MODE#]
 <!-- / table dev_hvac_devices search -->
 <!-- table dev_hvac_devices edit -->
 [#if VIEW_MODE="edit_dev_hvac_devices"#]
   [#if ID!=""#]
   [#if TITLE!=""#]<h4>[#TITLE#]</h4>[#endif TITLE#]
<ul class="nav nav-tabs">
  <li[#if TAB=""#] class="active"[#endif#]>
   <a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab="><i class="glyphicon glyphicon-wrench"></i>&nbsp;&nbsp;<#LANG_GENERAL#></a>
  </li>
  <li[#if TAB="data"#] class="active"[#endif#]>
   <a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=data"><i class="glyphicon glyphicon-th-list"></i>&nbsp;&nbsp;&#060#LANG_DATA#&#062</a>
  </li>
</ul>
&nbsp;<br/>
   [#endif ID#]
   [#if TAB=""#]
    [#inc dev_hvac_devices_edit_default.html#]
   [#endif TAB#]
   [#if TAB="data"#]
    [#inc dev_hvac_devices_edit_data.html#]
   [#endif TAB#]
 [#endif VIEW_MODE#]
 <!-- / table dev_hvac_devices edit -->
 <!-- table dev_hvac_devices view --> 
 [#if VIEW_MODE="view_dev_hvac_devices"#]
   [#if TAB=""#]
    [#inc dev_hvac_devices_view_default.html#]
   [#endif TAB#]
 [#endif VIEW_MODE#]
 <!-- / table dev_hvac_devices view -->
 [#endif DATA_SOURCE#]
 <!-- action usual -->
 [#if DATA_SOURCE="dev_hvac_commands"#]
 <!-- table dev_hvac_commands search -->
 [#if VIEW_MODE="search_dev_hvac_commands" || VIEW_MODE=""#]
  [#inc dev_hvac_commands_search_admin.html#]
 [#endif VIEW_MODE#]
 <!-- / table dev_hvac_commands search -->
 <!-- table dev_hvac_commands edit -->
 [#if VIEW_MODE="edit_dev_hvac_commands"#]
   [#inc dev_hvac_commands_edit.html#]
 [#endif VIEW_MODE#]
 <!-- / table dev_hvac_commands edit -->
 <!-- table dev_hvac_commands view --> 
 [#if VIEW_MODE="view_dev_hvac_commands"#]
   [#inc dev_hvac_commands_view.html#]
 [#endif VIEW_MODE#]
 <!-- / table dev_hvac_commands view -->
 [#endif DATA_SOURCE#]
 
 [#if VIEW_MODE="hvac_devices_scan"#]
   [#inc hvac_devices_scan.html#]
 [#endif VIEW_MODE#]

